<h3>物件詳細</h3>
    <p>物件名：<%= @properti.properties_name %></p>
    <p>賃料：<%= @properti.rent %></p>
    <p>住所：<%= @properti.adress %></p>
    <p>築年数：<%= @properti.age_of_building %></p>
    <p>備考：<%= @properti.note %></p>
<%= link_to "新規物件登録", new_properti_path %>
